<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering allowDoubleEscaping="true" removeServerHeader="true">
          <requestLimits maxQueryString="4096" maxUrl="8192" maxAllowedContentLength="104857600"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>